/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "Geist sans";
    src: url('../fonts/Geist-Regular.otf');
    src: url('../fonts/Geist-Regular.otf') format('embedded-opentype'),
         url('../fonts/Geist-Regular.woff2') format('woff2')
}

@font-face {
    font-family: "Geist mono";
    src: url('../fonts/GeistMono-Regular.otf');
    src: url('../fonts/GeistMono-Regular.otf') format('embedded-opentype'),
         url('../fonts/GeistMono-Regular.woff2') format('woff2')
}

html{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

/* css variables */
:root {
    --accentPrimary: #E5FAAE;
    /* Light color tokens */
    --background-light: #f5f5f5;
    --surface-subdued-light: #bfbfbf;
    --text-default-light: #1a1a1a;
    --text-default-inverse-light: #f5f5f5;
    --text-subdued-light: #747474;
    /* Dark color tokens */
    --background-dark: #1a1a1a;
    --surface-subdued-dark: #464646;
    --text-default-dark: #f5f5f5;
    --text-default-inverse-dark: #1a1a1a;
    --text-subdued-dark: #919191;
}


@media(prefers-color-scheme: light) {
    :root {
        --background: var(--background-light);
        --surface-subdued: var(--surface-subdued-light);
        --text-default: var(--text-default-light);
        --text-default-inverse: var(--text-default-inverse-light);
        --text-subdued: var(--text-subdued-light);
    }   
}

@media(prefers-color-scheme: dark) {
    [data-theme="dark"]{
        --background: var(--background-dark);
        --surface-subdued: var(--surface-subdued-dark);
        --text-default: var(--text-default-dark);
        --text-default-inverse: var(--text-default-inverse-dark);
        --text-subdued: var(--text-subdued-dark);
    }   
}

[color-scheme="light"] {
    --background: var(--background-light);
    --surface-subdued: var(--surface-subdued-light);
    --text-default: var(--text-default-light);
    --text-subdued: var(--text-subdued-light);
}

[color-scheme="dark"] {
    --background: var(--background-dark);
    --surface-subdued: var(--surface-subdued-dark);
    --text-default: var(--text-default-dark);
    --text-subdued: var(--text-subdued-dark);
}

body {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-column-gap: 16px;
    grid-template-rows: repeat(8, 1fr);
    padding: 4em 0;
    color: var(--text-default);
    font-family: "Geist sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
    font-size: 18px;
    line-height: 140%;
}

header {
    display: grid;
    grid-column: 2 / span 14;
    align-items: center;
}

.header-right{
    grid-column: 13 / span 3;
    align-items: center;
    justify-self: right;
}

.name-title{
    font-family: "Geist mono", Courier, monospace;
    font-size: 0.875rem;
    line-height: 1.3;
    color: var(--surface-subdued);
}

.info {
    grid-column-start: 15;
    justify-self: end;
    text-align: right;
}
.info li{
    display: inline-block;
    margin-left: 2rem;
}


.theme {
    grid-column-start: 16;
    justify-self: end;
    place-items: center;
    background-color: var(--surface-subdued);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
}

.theme:hover {
    background-color: var(--accentPrimary);
    transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
}
.logo {
    display: grid;
    grid-column-start: 1;
    align-items: center;
}

.logo-fill {
    color: var(--surface-subdued);
    fill: var(--surface-subdued);
}

.background {
    background-color: var(--background);
}   

main {
    grid-column: 2 / span 14;
    grid-row-start: 2;
}

.intro {
    grid-column: 2 / span 8;
    grid-row-start: 2;
    color: var(--text-default);
    font-size: 24px;
    font-weight: 300;
    line-height: 140%;
    padding: 4em 0;
    max-width: 40rem;
}

#project {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 180px;
}

.project-info {
    grid-column: 1 / span 1;
    padding-right: 24px;
}

.project-info h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 120%;
}

.channel-badge {
    display: inline-block;
    font-size: 12px;
    color: var(--text-subdued);
    padding: 4px 6px;
    margin: 4px 2px 2px 0;
    border: 1px solid;
    border-color: var(--surface-subdued);
    border-radius: 6px;
}

.project-img {
    grid-column: 2 / span 1;
    justify-self: end;
}

#project p {
    margin: 16px 0;
}

#project picture img {
    border-radius: 12px;
}

/* selection style */
::-webkit-selection {
    background: var(--accentPrimary);
    color: var(--text-default-inverse);
    text-shadow: none;
  }
  
  ::-moz-selection {
    background: var(--accentPrimary);
    color: var(--text-default-inverse);
    text-shadow: none;
  }
  
  ::selection {
    background: var(--accentPrimary);
    color: var(--text-default-inverse);
    text-shadow: none;
  }

@media only screen and (max-width: 600px) {
    #project {
        grid-template-columns: 100%;
    }
    .project-img {
        grid-column: 1 / span 1;
    }
}